# volatile Gradle files
/.gradle/
/build/
*/build/

# Eclipse project files
/.classpath
/.project
/.settings/

# IntelliJ IDEA project files
/.idea/
/*/out/
*.iml
*.ipr
*.iws

# Other
CHANGELOG.md

# Test files
/javacord-core/src/test/java/org/javacord/testing/
