# volatile Gradle files
/.gradle/
/build/
*/build/

# Eclipse project files
/.classpath
/.project
/.settings/

# IntelliJ IDEA project files
/.idea/
/*/out/
*.iml
*.ipr
*.iws
#TODO remove once done with api update
javacord-core/src/test/java/Main.java
/javacord-core/src/test/java/favicon.ico
/javacord-core/src/test/java/favicon1.ico
/javacord-core/src/test/java/favicon3.ico
