name: Main
on: [pull_request, push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: Build and test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build project
        run: ./gradlew build
      - name: Run tests
        run: ./gradlew test
